.init-content {
    padding-top: 260px;
    background-image: url("/content/clubLogo?defaultLogo"); /*Getting default logo, independent from database stored logo*/
    background-size: 230px auto;
    background-repeat: no-repeat;
    background-position: center top;
}