.init-content {
    padding-top: 260px;
    background: url("/content/clubLogo?defaultLogo") no-repeat center top; /*Getting default logo, independent from database stored logo*/
    background-size: 230px auto;
}