@font-face {
    font-family: 'Josefin Sans';
    src:url('/resources/fonts/JosefinSans.eot');
    src:url('/resources/fonts/JosefinSans.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/JosefinSans.woff') format('woff'),
    url('/resources/fonts/JosefinSans.ttf') format('truetype'),
    url('/resources/fonts/JosefinSans.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes heartbeat{
    0%     { -webkit-transform:scale(1,1); }
    49%    { -webkit-transform:scale(.5,.5); }
    50%    { background-color:rgba(102, 218, 165,.2); }
    100%   { -webkit-transform:scale(1,1); }
}
@-moz-keyframes heartbeat{
    0%     { -moz-transform:scale(1,1); }
    49%    { -moz-transform:scale(.5,.5); }
    50%    { background-color:rgba(102, 218, 165,.2); }
    100%   { -moz-transform:scale(1,1); }
}
@keyframes heartbeat{
    0%     { transform:scale(1,1); }
    49%    { transform:scale(.5,.5); }
    50%    { background-color:rgba(102, 218, 165,.2); }
    100%   { transform:scale(1,1); }
}
.heartbeat{
    width:30px;
    height:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    background-color:#13CD78;
    -webkit-animation:heartbeat .6s infinite;
    animation:heartbeat .6s infinite;
}

.materialBox{
    overflow: visible;
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px;
    background: #eeeeee;
    line-height: 1;
    padding: 10px;
}

.map {
    position: relative;
    background-color: #eeeeee;
    height: 300px;
    margin: 5px;
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file-label {
    font-size: 16px;
    margin-left: 8px;
}