<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>myVerein - Web Console</display-name>

	<!-- Defining Spring managed servlets and context listener (Needed to be able to run spring security) -->

	<servlet>
		<servlet-name>myVerein</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--multipart-config></multipart-config-->
	</servlet>

	<servlet-mapping>
		<servlet-name>myVerein</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/myVerein-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring Security filter to enforce user authentication -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <!-- Renaming & securing session cookie (During development the secure feature is disabled, because the local server does not use secured connections yet) -->
    <session-config>
        <cookie-config>
            <name>myVereinSessionCookie</name>
            <!--secure>true</secure-->
        </cookie-config>
    </session-config>

    <error-page>
        <exception-type>org.springframework.security.web.authentication.rememberme.CookieTheftException</exception-type>
        <location>/login?cookieTheft</location>
    </error-page>

    <!--error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error</location>
    </error-page-->
    
</web-app>