<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="third-party-log-level">info</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} %p [%t] %c{1} [%M] - %m%throwable{short}%n"/>
		</Console>

		<RollingFile name="tomcat-file-log" fileName="${sys:catalina.base}/logs/myVerein.log" filePattern="myVerein-%d{yyyy-MM-dd}.log" append="true">
			<PatternLayout pattern="%d{ISO8601} %p [%t] %c{1} [%M] - %m%throwable{short}%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="de.steilerdev.myVerein" level="trace" />

		<Logger name="org.springframework.core" level="${third-party-log-level}" />

		<Logger name="org.springframework.data.mongodb" level="${third-party-log-level}" />

		<Logger name="org.springframework.beans" level="${third-party-log-level}" />

		<Logger name="org.springframework.context" level="${third-party-log-level}" />

		<Logger name="org.springframework.http" level="${third-party-log-level}" />

		<Logger name="org.springframework.web" level="${third-party-log-level}" />

		<Logger name="org.springframework.security" level="${third-party-log-level}" />

		<Logger name="org.thymeleaf.TemplateEngine" level="${third-party-log-level}" />

		<Root level="error">
			<!--AppenderRef ref="console"/-->
			<AppenderRef ref="tomcat-file-log"/>
		</Root>
	</Loggers>
</Configuration>