<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>myVerein - Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/resources/icon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/resources/icon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/icon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/resources/icon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/icon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/resources/icon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/resources/icon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/resources/icon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/icon/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/resources/icon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/resources/icon/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/resources/icon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/resources/icon/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/resources/icon/manifest.json"/>
    <link rel="shortcut icon" href="/resources/icon/favicon.ico"/>
    <meta name="msapplication-TileColor" content="#00a300"/>
    <meta name="msapplication-TileImage" content="/resources/icon/mstile-144x144.png"/>
    <meta name="msapplication-config" content="/resources/icon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

    <th:block th:if="${application.developmentMode}">
        <link th:href="@{/resources/css/base/magic-bootstrap.1.0.0.css}" href="../resources/css/base/magic-bootstrap.1.0.0.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/base/elegant-icons.1.0.0.css}" href="../resources/css/base/elegant-icons.1.0.0.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/base/_myVerein.base.css}" href="../resources/css/base/_myVerein.base.css" rel="stylesheet" type="text/css" />
    </th:block>
    <th:block th:unless="${application.developmentMode}">
        <link th:href="@{/resources/css/myVerein.error.min.css}" href="../resources/css/base/_myVerein.base.css" rel="stylesheet" type="text/css" />
    </th:block>

</head>
<body>
    <div class="errorBox">
        <div class="alert alert-danger">
            <h2 th:if="${param.pageNotFound != null}">404 - Page not found</h2>
            <h2 th:unless="${param.pageNotFound != null}">An internal error occurred</h2>
            <span th:if="${param.noDB != null}">Unable to access database, consult your system administrator</span>
            <span th:if="${param.pageNotFound != null}">The requested resource is not available</span>
            <span th:unless="${param.noDB != null || param.pageNotFound != null}">The error occurred unexpected, please <a href="/">try again</a> and consult your system administrator if the error persists</span>
        </div>
    </div>
</body>
</html>