<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>myVerein</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link th:href="@{/resources/css/tabs.css}" href="../resources/css/tabs.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/jquery-ui.min.css}" href="../resources/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/magic-bootstrap.css}" href="../resources/css/magic-bootstrap.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/button.css}" href="../resources/css/button.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/myVerein.css}" href="../resources/css/myVerein.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/jqtree.css}" href="../resources/css/jqtree.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/selectize-core.css}" href="../resources/css/selectize-core.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/selectize-bootstrap.css}" href="../resources/css/selectize-bootstrap.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/notification.css}" href="../resources/css/notification.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/icons.css}" href="../resources/css/icons.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/bootstrap-validator.css}" href="../resources/css/bootstrap-validator.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/datepicker3.css}" href="../resources/css/datepicker3.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/clndr.css}" href="../resources/css/clndr.css" rel="stylesheet" type="text/css" />
		<link th:href="@{/resources/css/bootstrap-timepicker.css}" href="../resources/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />

		<script th:src="@{/resources/js/myVerein.base.js}" src="../resources/js/myVerein.base.js" type="application/javascript" />
		<script th:src="@{/resources/js/myVerein.division.js}" src="../resources/js/myVerein.division.js" type="application/javascript" />
		<script th:src="@{/resources/js/myVerein.user.js}" src="../resources/js/myVerein.user.js" type="application/javascript" />
		<script th:src="@{/resources/js/myVerein.index.js}" src="../resources/js/myVerein.index.js" type="application/javascript" />
		<script th:src="@{http://maps.google.com/maps/api/js?sensor=true}" src="http://maps.google.com/maps/api/js?sensor=true" type="application/javascript" />
		<script th:src="@{/resources/js/myVerein.event.js}" src="../resources/js/myVerein.event.js" type="application/javascript" />
        <script th:src="@{/resources/js/myVerein.settings.js}" src="../resources/js/myVerein.settings.js" type="application/javascript" />

	</head>

	<body>
		<div id="tabs" class="tabs tabs-style-underline">
			<nav class="materialNavBox">
				<ul>
					<li id="userTab"><a href="#user"><span class="icon icon_id-2"></span><span> User management</span></a></li>
					<li id="divisionTab"><a href="#division"><span class="icon icon_flowchart"></span><span> Division management</span></a></li>
					<li id="eventTab"><a href="#event"><span class="icon icon_calendar"></span><span> Event management</span></a></li>
                    <li id="settingsTab"><a href="#settings"><span class="icon icon_cogs"></span><span> Settings</span></a></li>
				</ul>
			</nav>
			<div class="content-wrap">
				<section th:include="user :: content" id="user"></section>
				<section th:include="division :: content" id="division"></section>
				<section th:include="event :: content" id="event"></section>
                <section th:include="settings :: content" id="settings"></section>
			</div>
		</div>
	</body>
</html>