<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<head>
        <title th:text="'myVerein - ' + ${clubName}" th:unless="${clubName == null || clubName.isEmpty()}">myVerein</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/resources/icon/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/resources/icon/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/resources/icon/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/resources/icon/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/resources/icon/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/resources/icon/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/resources/icon/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/resources/icon/apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/icon/apple-touch-icon-180x180.png"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/resources/icon/android-chrome-192x192.png" sizes="192x192"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="/resources/icon/manifest.json"/>
        <link rel="shortcut icon" href="/resources/icon/favicon.ico"/>
        <meta name="msapplication-TileColor" content="#00a300"/>
        <meta name="msapplication-TileImage" content="/resources/icon/mstile-144x144.png"/>
        <meta name="msapplication-config" content="/resources/icon/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>

        <script th:src="@{https://maps.google.com/maps/api/js?sensor=true}" src="https://maps.google.com/maps/api/js?sensor=true" type="application/javascript" />

        <th:block th:if="${application.developmentMode}">
            <link th:href="@{/resources/css/base/magic-bootstrap.1.0.0.css}" href="../resources/css/base/magic-bootstrap.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/bootstrap-validator.0.5.3.css}" href="../resources/css/base/bootstrap-validator.0.5.3.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/cbpFWTabs.1.0.0.css}" href="../resources/css/base/cbpFWTabs.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/datepicker.3.0.css}" href="../resources/css/base/datepicker.3.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/elegant-icons.1.0.0.css}" href="../resources/css/base/elegant-icons.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/jquery-ui.1.11.2.css}" href="../resources/css/base/jquery-ui.1.11.2.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/notificationFx.1.0.0.css}" href="../resources/css/base/notificationFx.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/selectize-core.0.11.2.css}" href="../resources/css/base/selectize-core.0.11.2.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/selectize-bootstrap.0.11.2.css}" href="../resources/css/base/selectize-bootstrap.0.11.2.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/uiProgressButtons.1.0.0.css}" href="../resources/css/base/uiProgressButtons.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/division/jqtree.1.0.0.css}" href="../resources/css/division/jqtree.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/event/bootstrap-timepicker.0.2.5.css}" href="../resources/css/event/bootstrap-timepicker.0.2.5.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/event/clndr.1.2.7.css}" href="../resources/css/event/clndr.1.2.7.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/_myVerein.base.css}" href="../resources/css/base/_myVerein.base.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/login/_myVerein.login.css}" href="../resources/css/login/_myVerein.login.css" rel="stylesheet" type="text/css" />

            <script th:src="@{/resources/js/base/jquery.2.1.1.js}" src="../resources/js/base/jquery.2.1.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/jquery-cookie.1.4.1.js}" src="../resources/js/base/jquery-cookie.1.4.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/jquery-ui.1.11.2.js}" src="../resources/js/base/jquery-ui.1.11.2.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/bootstrap.3.3.1.js}" src="../resources/js/base/bootstrap.3.3.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/index/moment-with-locales.2.9.0.js}" src="../resources/js/index/moment-with-locales.2.9.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/event/underscore.1.7.0.js}" src="../resources/js/event/underscore.1.7.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/modernizr.2.8.3.js}" src="../resources/js/base/modernizr.2.8.3.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/classie.1.0.1.js}" src="../resources/js/base/classie.1.0.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/bootstrap-datepicker.1.4.0.js}" src="../resources/js/base/bootstrap-datepicker.1.4.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/internationalization/bootstrap-datepicker-locales/bootstrap-datepicker.de.js}" src="../resources/js/internationalization/bootstrap-datepicker-locales/bootstrap-datepicker.de.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/bootstrap-validator.0.5.3.js}" src="../resources/js/base/bootstrap-validator.0.5.3.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/cbpFWTabs.1.0.0.js}" src="../resources/js/base/cbpFWTabs.1.0.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/notificationFx.1.0.0.js}" src="../resources/js/base/notificationFX.1.0.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/selectize.0.12.0.js}" src="../resources/js/base/selectize.0.12.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/uiProgressButtons.1.0.0.js}" src="../resources/js/base/uiProgressButtons.1.0.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/division/jqTree.1.0.0.js}" src="../resources/js/division/jqTree.1.0.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/event/bootstrap-timepicker.0.2.5.js}" src="../resources/js/event/bootstrap-timepicker.0.2.5.js" type="application/javascript" />
            <script th:src="@{/resources/js/event/clndr.1.2.7.js}" src="../resources/js/event/clndr.1.2.7.js" type="application/javascript" />
            <script th:src="@{/resources/js/event/gmaps.0.4.16.js}" src="../resources/js/event/gmaps.0.4.16.js" type="application/javascript" />
            <script th:src="@{/resources/js/user/listJS.1.1.1.js}" src="../resources/js/user/listJS.1.1.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/user/listJS-fuzzysearch.0.1.0.js}" src="../resources/js/user/listJS-fuzzysearch.0.1.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/index/_myVerein.index.js}" src="../resources/js/index/_myVerein.index.js" type="application/javascript" />
            <script th:src="@{/resources/js/internationalization/_myVerein.internationalization.js}" src="../resources/js/internationalization/_myVerein.internationalization.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/_myVerein.base.js}" src="../resources/js/base/_myVerein.base.js" type="application/javascript" />
            <script th:src="@{/resources/js/user/_myVerein.user.js}" src="../resources/js/user/_myVerein.user.js" type="application/javascript" />
            <script th:src="@{/resources/js/settings/_myVerein.settings.js}" src="../resources/js/settings/_myVerein.settings.js" type="application/javascript" />
            <script th:src="@{/resources/js/event/_myVerein.event.js}" src="../resources/js/event/_myVerein.event.js" type="application/javascript" />
            <script th:src="@{/resources/js/division/_myVerein.division.js}" src="../resources/js/division/_myVerein.division.js" type="application/javascript" />
        </th:block>
        <th:block th:unless="${application.developmentMode}">
            <link th:href="@{/resources/css/myVerein.min.css}" href="../resources/css/myVerein.init.min.css" rel="stylesheet" type="text/css" />

            <script th:src="@{/resources/js/myVerein.min.js}" src="../resources/js/myVerein.init.min.js" type="application/javascript" />
        </th:block>

	</head>

	<body>
		<div id="tabs" class="tabs tabs-style-underline">
			<nav class="materialNavBox">
				<ul>
					<li class="tab" id="userTab"><a href="#user"><span class="icon icon_id-2"></span><span> User management</span></a></li>
					<li class="tab" id="divisionTab"><a href="#division"><span class="icon icon_flowchart"></span><span> Division management</span></a></li>
					<li class="tab" id="eventTab"><a href="#event"><span class="icon icon_calendar"></span><span> Event management</span></a></li>
                    <li class="tab" id="settingsTab"><a href="#settings"><span class="icon icon_cogs"></span><span> Settings</span></a></li>
                    <li id="logoutButtonInMainMenu"><a href="/logout" shape="rect"> <span class="icon icon_lock-open hoverIcon"></span><span> Logout</span></a></li>
				</ul>
                <ul id="fixedRightNavBox">
                    <li id="logoutButton"><a href="/logout"><span class="hoverText">Logout</span> <span class="icon icon_lock-open hoverIcon"></span></a></li>
                </ul>
			</nav>
			<div class="content-wrap">
				<section th:include="user :: content" id="user"></section>
				<section th:include="division :: content" id="division"></section>
				<section th:include="event :: content" id="event"></section>
                <section th:include="settings :: content" id="settings"></section>
			</div>
		</div>
	</body>
</html>