<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{init.page.title}">Welcome to myVerein</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/resources/icon/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/resources/icon/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/resources/icon/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/resources/icon/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/resources/icon/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/resources/icon/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/resources/icon/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/resources/icon/apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/icon/apple-touch-icon-180x180.png"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/resources/icon/android-chrome-192x192.png" sizes="192x192"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="/resources/icon/manifest.json"/>
        <link rel="shortcut icon" href="/resources/icon/favicon.ico"/>
        <meta name="msapplication-TileColor" content="#00a300"/>
        <meta name="msapplication-TileImage" content="/resources/icon/mstile-144x144.png"/>
        <meta name="msapplication-config" content="/resources/icon/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>

        <th:block th:if="${application.developmentMode}">
            <link th:href="@{/resources/css/base/magic-bootstrap.1.0.0.css}" href="../resources/css/base/magic-bootstrap.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/elegant-icons.1.0.0.css}" href="../resources/css/base/elegant-icons.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/notificationFx.1.0.0.css}" href="../resources/css/base/notificationFx.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/uiProgressButtons.1.0.0.css}" href="../resources/css/base/uiProgressButtons.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/_myVerein.base.css}" href="../resources/css/base/_myVerein.base.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/init/_myVerein.init.css}" href="../resources/css/init/_myVerein.init.css" rel="stylesheet" type="text/css" />

            <script th:src="@{/resources/js/base/jquery.2.1.1.js}" src="../resources/js/base/jquery.2.1.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/bootstrap.3.3.1.js}" src="../resources/js/base/bootstrap.3.3.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/classie.1.0.1.js}" src="../resources/js/base/classie.1.0.1.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/notificationFx.1.0.0.js}" src="../resources/js/base/notificationFx.1.0.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/base/uiProgressButtons.1.0.0.js}" src="../resources/js/base/uiProgressButtons.1.0.0.js" type="application/javascript" />
            <script th:src="@{/resources/js/_myVerein.base.js}" src="../resources/js/base/_myVerein.base.js" type="application/javascript" />
            <script th:src="@{/resources/js/_myVerein.init.js}" src="../resources/js/init/_myVerein.init.js" type="application/javascript" />
        </th:block>
        <th:block th:unless="${application.developmentMode}">
            <link th:href="@{/resources/css/myVerein.init.min.css}" href="../resources/css/myVerein.init.min.css" rel="stylesheet" type="text/css" />

            <script th:src="@{/resources/js/myVerein.init.min.js}" src="../resources/js/myVerein.init.min.js" type="application/javascript" />
        </th:block>
    </head>
    <body class="content-current">
        <div class="verticalCentered">
            <div>
                <div class="col-sm-offset-2 col-sm-8 init-content">
                    <div class="materialBox">
                        <h2 th:text="#{init.page.heading}">Welcome to myVerein!</h2>
                        <h3><span id="subHeading" th:text="#{init.page.subHeading}">Thank you for choosing the best club management system ever!</span><span id="subHeadingWait" class="hidden" th:text="#{init.page.subHeading.wait}">Your settings are applied and the system is restarted afterwards, please wait, you are getting notified as soon as everything is set.</span></h3>
                        <p th:text="#{init.page.subSubHeading}">This page is going to guide you through the initial configuration of your system and explain all functionalities of the product.</p>
                    </div>

                    <div id="initSettingsBox" class="materialBox">
                        <h2 th:text="#{init.page.settings.heading}">Set the general system settings</h2>
                        <hr />
                        <form id="initSettingsForm" method="post" enctype="multipart/form-data"
                              data-bv-feedbackicons-valid="icon_check"
                              data-bv-feedbackicons-invalid="icon_error-triangle_alt"
                              data-bv-feedbackicons-validating="icon_loading">

                            <div class="form-group">
                                <label for="clubName" th:text="#{init.page.settings.clubName.label}">Club name</label>
                                <input id="clubName" name="clubName" class="form-control" type="text" autofocus="autofocus"
                                       placeholder="Enter the name of your club"
                                       th:placeholder="#{init.page.settings.clubName.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The name of your club is required and cannot be empty"
                                       th:attr="data-bv-notempty-message=#{init.page.settings.clubName.bv}"/>
                            </div>

                            <hr/>

                            <div class="form-group">
                                <label for="databaseHost" th:text="#{init.page.settings.dbHost.label}">Database host</label>
                                <input id="databaseHost" name="databaseHost" class="form-control" type="text"
                                       placeholder="Enter the host of the database"
                                       th:placeholder="#{init.page.settings.dbHost.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The database host is required and cannot be empty"
                                       th:attr="data-bv-notempty-message=#{init.page.settings.dbHost.bv}"/>
                            </div>
                            <div class="form-group">
                                <label for="databasePort" th:text="#{init.page.settings.dbPort.label}">Database port</label>
                                <input id="databasePort" name="databasePort" class="form-control" type="text"
                                       placeholder="Enter the port of the database"
                                       th:placeholder="#{init.page.settings.dbPort.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The database port is required and cannot be empty"
                                       th:attr="data-bv-notempty-message=#{init.page.settings.dbPort.bv}"/>
                            </div>
                            <div class="form-group">
                                <label for="databaseUser" th:text="#{init.page.settings.dbUser.label}">Database user</label>
                                <input id="databaseUser" name="databaseUser" class="form-control" type="text"
                                       placeholder="Enter the username of the database user"
                                       th:placeholder="#{init.page.settings.dbUser.placeholder}"/>
                            </div>
                            <div class="form-group">
                                <label for="databasePassword" th:text="#{init.page.settings.dbPassword.label}">Database password</label>
                                <input id="databasePassword" name="databasePassword" class="form-control" type="password"
                                       placeholder="Enter the password of the database user"
                                       th:placeholder="#{init.page.settings.dbPassword.placeholder}"/>
                            </div>
                            <div class="form-group">
                                <label for="databaseCollection" th:text="#{init.page.settings.dbCollectionName.label}">Database collection name</label>
                                <input id="databaseCollection" name="databaseCollection" class="form-control" type="text"
                                       placeholder="Enter the name of the database collection used"
                                       th:placeholder="#{init.page.settings.dbCollectionName.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The name of the database collection is required and cannot be empty"
                                       th:attr="data-bv-notempty-message=#{init.page.settings.dbCollectionName.bv}"/>

                                <p class="help-block" th:text="#{init.page.settings.dbCollectionName.help}">If a collection with the same name already exists, the existing data is going to be delete!</p>
                            </div>

                            <hr/>

                            <div class="form-group">
                                <label for="rememberMeTokenKey" th:text="#{init.page.settings.rememberMeKey.label}">Remember me token key</label>
                                <input id="rememberMeTokenKey" name="rememberMeTokenKey" class="form-control" type="text"
                                       placeholder="Enter your private key, used to secure the remember me token"
                                       th:placeholder="#{init.page.settings.rememberMeKey.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The remember me token key is required and cannot be empty"
                                       th:attr="data-bv-notempty-message=#{init.page.settings.rememberMeKey.bv}"/>

                                <p class="help-block" th:text="#{init.page.settings.rememberMeKey.help}">This key is used to secure the cookie used by the"remember-me" functionality. Please use a random phrase.</p>
                            </div>

                            <hr/>

                            <div class="form-group">
                                <div class="progress-button" id="initSettingsSubmitButton">
                                    <button type="submit"><span th:text="#{init.page.settings.proceed}">Proceed</span></button>
                                    <svg class="progress-circle" width="50" height="50">
                                        <g transform="scale(0.71)">
                                            <path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/>
                                        </g>
                                    </svg>
                                    <svg class="checkmark" width="50" height="50">
                                        <g transform="scale(0.71)">
                                            <path d="m31.5,46.5l15.3,-23.2"/>
                                            <path d="m31.5,46.5l-8.5,-7.1"/>
                                        </g>
                                    </svg>
                                    <svg class="cross" width="50" height="50">
                                        <g transform="scale(0.71)">
                                            <path d="m35,35l-9.3,-9.3"/>
                                            <path d="m35,35l9.3,9.3"/>
                                            <path d="m35,35l-9.3,9.3"/>
                                            <path d="m35,35l9.3,-9.3"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="initAdminBox" class="materialBox hidden">
                        <h2 th:text="#{init.page.admin.heading}">Create the super admin user</h2>
                        <p th:text="#{init.page.admin.subHeading}">This user is going to be able to adjust all settings available within the system. This should be you.</p>
                        <form id="initAdminForm" method="post"
                              data-bv-feedbackicons-valid="icon_check"
                              data-bv-feedbackicons-invalid="icon_error-triangle_alt"
                              data-bv-feedbackicons-validating="icon_loading">

                            <div class="form-group">
                                <label for="firstName" th:text="#{init.page.admin.firstName.label}">First name</label>
                                <input id="firstName" name="firstName" class="form-control" type="text"
                                       placeholder="Enter the user's first name"
                                       th:placeholder="#{init.page.admin.firstName.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The first name is required and cannot be empty"

                                       data-bv-regexp="true"
                                       data-bv-regexp-regexp="^[a-zA-Z0-9]+$"
                                       data-bv-regexp-message="The first name can only consist of alphabetical characters and numbers"

                                       data-bv-different="true"
                                       data-bv-different-field="password"
                                       data-bv-different-message="The first name and password cannot be the same"

                                       th:attr="data-bv-notempty-message=#{init.page.admin.firstName.bv.notEmpty},
                                                data-bv-regexp-message=#{init.page.admin.firstName.bv.regEx},
                                                data-bv-different-message=#{init.page.admin.firstName.bv.different}"/>
                            </div>
                            <div class="form-group">
                                <label for="lastName" th:text="#{init.page.admin.lastName.label}">Last name</label>
                                <input id="lastName" name="lastName" class="form-control" type="text"
                                       placeholder="Enter the user's last name"
                                       th:placeholder="#{init.page.admin.lastName.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The last name is required and cannot be empty"

                                       data-bv-regexp="true"
                                       data-bv-regexp-regexp="^[a-zA-Z0-9]+$"
                                       data-bv-regexp-message="The last name can only consist of alphabetical characters and numbers"

                                       data-bv-different="true"
                                       data-bv-different-field="password"
                                       data-bv-different-message="The last name and password cannot be the same"
                                       th:attr="data-bv-notempty-message=#{init.page.admin.lastName.bv.notEmpty},
                                                data-bv-regexp-message=#{init.page.admin.firstName.bv.regEx},
                                                data-bv-different-message=#{init.page.admin.lastName.bv.different}"/>
                            </div>
                            <div class="form-group">
                                <label for="email" th:text="#{init.page.admin.email.label}">Email address</label>
                                <input id="email" name="email" class="form-control" type="text"
                                       placeholder="Enter the user's email"
                                       th:placeholder="#{init.page.admin.email.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The email address is required and cannot be empty"

                                       data-bv-emailaddress="true"
                                       data-bv-emailaddress-message="The email address is not valid"
                                       th:attr="data-bv-notempty-message=#{init.page.admin.email.bv.notEmpty},
                                                data-bv-emailaddress-message=#{init.page.admin.email.bv.email}"/>
                            </div>
                            <div class="form-group">
                                <label for="password" th:text="#{init.page.admin.password.label}">Password</label>
                                <input id="password" name="password" class="form-control" type="password"
                                       placeholder="Enter an initial password"
                                       th:placeholder="#{init.page.admin.password.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The password is required and cannot be empty"
                                       th:attr="data-bv-notempty-message=#{init.page.admin.password.bv}"/>

                                <input id="passwordRe" name="passwordRe" class="form-control" type="password"
                                       placeholder="Re-type your initial password"
                                       th:placeholder="#{init.page.admin.passwordRe.placeholder}"

                                       data-bv-notempty="true"
                                       data-bv-notempty-message="The retyped password is required and cannot be empty"
                                       th:attr="data-bv-notempty-message=#{init.page.admin.passwordRe.bv}"/>
                            </div>

                            <p th:text="#{init.page.admin.note}">You can adjust this user later and add additional information.</p>

                            <hr/>

                            <div id="submitGroupUser" class="form-group">
                                <div class="progress-button" id="initAdminSubmitButton">
                                    <button type="submit"><span th:text="#{init.page.admin.proceed}">Proceed</span></button>
                                    <svg class="progress-circle" width="50" height="50">
                                        <g transform="scale(0.71)">
                                            <path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/>
                                        </g>
                                    </svg>
                                    <svg class="checkmark" width="50" height="50">
                                        <g transform="scale(0.71)">
                                            <path d="m31.5,46.5l15.3,-23.2"/>
                                            <path d="m31.5,46.5l-8.5,-7.1"/>
                                        </g>
                                    </svg>
                                    <svg class="cross" width="50" height="50">
                                        <g transform="scale(0.71)">
                                            <path d="m35,35l-9.3,-9.3"/>
                                            <path d="m35,35l9.3,9.3"/>
                                            <path d="m35,35l-9.3,9.3"/>
                                            <path d="m35,35l9.3,-9.3"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="initTutorialBox" class="materialBox hidden">
                        <h2 th:text="#{init.page.tutorial.heading}">Tutorial</h2>
                        <p th:text="#{init.page.tutorial.subHeading}">This part is reserved for giving a brief tutorial on how to create and manipulate settings.</p>

                        <div class="progress-button" id="initTutorialSubmit">
                            <button id="initTutorialSubmitButton" type="submit"><span th:text="#{init.page.tutorial.finish}">Finish!</span></button>
                            <svg class="progress-circle" width="50" height="50">
                                <g transform="scale(0.71)">
                                    <path d="m35,2.5c17.955803,0 32.5,14.544199 32.5,32.5c0,17.955803 -14.544197,32.5 -32.5,32.5c-17.955803,0 -32.5,-14.544197 -32.5,-32.5c0,-17.955801 14.544197,-32.5 32.5,-32.5z"/>
                                </g>
                            </svg>
                            <svg class="checkmark" width="50" height="50">
                                <g transform="scale(0.71)">
                                    <path d="m31.5,46.5l15.3,-23.2"/>
                                    <path d="m31.5,46.5l-8.5,-7.1"/>
                                </g>
                            </svg>
                            <svg class="cross" width="50" height="50">
                                <g transform="scale(0.71)">
                                    <path d="m35,35l-9.3,-9.3"/>
                                    <path d="m35,35l9.3,9.3"/>
                                    <path d="m35,35l-9.3,9.3"/>
                                    <path d="m35,35l9.3,-9.3"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>