<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/resources/css/tabs.css}" href="../resources/css/tabs.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/jquery-ui.min.css}" href="../resources/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/magic-bootstrap.css}" href="../resources/css/magic-bootstrap.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/button.css}" href="../resources/css/button.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/myVerein.css}" href="../resources/css/myVerein.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/jqtree.css}" href="../resources/css/jqtree.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/selectize-core.css}" href="../resources/css/selectize-core.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/selectize-bootstrap.css}" href="../resources/css/selectize-bootstrap.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/notification.css}" href="../resources/css/notification.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/icons.css}" href="../resources/css/icons.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/bootstrap-validator.css}" href="../resources/css/bootstrap-validator.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/datepicker3.css}" href="../resources/css/datepicker3.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/clndr.css}" href="../resources/css/clndr.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/bootstrap-timepicker.css}" href="../resources/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/css/login.css}" href="../resources/css/login.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div class="verticalCentered">

            <div class="container">
                <div th:if="${param.error != null}">
                    <div class="center-block alert alert-danger alertLogin" role="alert">Unable to log in, please check your credentials</div>
                </div>
                <div th:if="${param.logout != null}">
                    <div class="center-block alert alert-success alertLogin" role="alert">You successfully logged out</div>
                </div>
            </div>

            <div class="loginContainer container">
                <form class="form-signin materialBox" action='/login_check' method='POST' accept-charset="UTF-8">
                    <h2 th:text="#{login.message}">Login with Username and Password</h2>
                    <label for="inputEmail" class="sr-only" th:text="#{login.email}">Email address</label>
                    <input name="username" type="email" id="inputEmail" th:placeholder="#{login.email}" class="form-control" placeholder="Email address"/>
                    <label for="inputPassword" class="sr-only" th:text="#{login.password}">Password</label>
                    <input name="password" type="password" id="inputPassword" class="form-control" th:placeholder="#{login.password}" placeholder="Password"/>
                    <div class="checkbox">
                        <label class="loginCheckbox">
                            <input type="checkbox" name="rememberMe"/>
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.button}">Sign in</button>
                </form>
            </div>
        </div>
    </body>
</html>