<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login Page</title>
    </head>
    <body onload='document.f.j_username.focus();'>
        <h1 th:text="#{login.heading}">My custom login page</h1>
        <h3 th:text="#{login.message}">Login with Username and Password</h3>
        <form name='f' action='/j_spring_security_check' method='POST' accept-charset="UTF-8">
            <table>
                <tr>
                    <td th:text="#{login.user}">User:</td>
                    <td><input type='text' name='j_username' value='' /></td>
                </tr>
                <tr>
                    <td th:text="#{login.password}">Password:</td>
                    <td><input type='password' name='j_password'/></td>
                </tr>
                <tr>
                    <td colspan='2'><input name="submit" type="submit" th:value="#{login.button}" value="Login"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>