<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${clubName} + ' - Login Page'" th:unless="${clubName == null || clubName.isEmpty()}">Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/resources/icon/apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/resources/icon/apple-touch-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/resources/icon/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/resources/icon/apple-touch-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/resources/icon/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/resources/icon/apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/resources/icon/apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/resources/icon/apple-touch-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/icon/apple-touch-icon-180x180.png"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/resources/icon/android-chrome-192x192.png" sizes="192x192"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-96x96.png" sizes="96x96"/>
        <link rel="icon" type="image/png" href="/resources/icon/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="/resources/icon/manifest.json"/>
        <link rel="shortcut icon" href="/resources/icon/favicon.ico"/>
        <meta name="msapplication-TileColor" content="#00a300"/>
        <meta name="msapplication-TileImage" content="/resources/icon/mstile-144x144.png"/>
        <meta name="msapplication-config" content="/resources/icon/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>

        <th:block th:if="${application.developmentMode}">
            <link th:href="@{/resources/css/base/magic-bootstrap.1.0.0.css}" href="../resources/css/base/magic-bootstrap.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/bootstrap-validator.0.5.3.css}" href="../resources/css/base/bootstrap-validator.0.5.3.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/cbpFWTabs.1.0.0.css}" href="../resources/css/base/cbpFWTabs.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/datepicker.3.0.css}" href="../resources/css/base/datepicker.3.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/elegant-icons.1.0.0.css}" href="../resources/css/base/elegant-icons.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/jquery-ui.1.11.2.css}" href="../resources/css/base/jquery-ui.1.11.2.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/notificationFx.1.0.0.css}" href="../resources/css/base/notificationFx.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/selectize-core.0.11.2.css}" href="../resources/css/base/selectize-core.0.11.2.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/selectize-bootstrap.0.11.2.css}" href="../resources/css/base/selectize-bootstrap.0.11.2.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/uiProgressButtons.1.0.0.css}" href="../resources/css/base/uiProgressButtons.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/division/jqtree.1.0.0.css}" href="../resources/css/division/jqtree.1.0.0.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/event/bootstrap-timepicker.0.2.5.css}" href="../resources/css/event/bootstrap-timepicker.0.2.5.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/event/clndr.1.2.7.css}" href="../resources/css/event/clndr.1.2.7.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/base/_myVerein.base.css}" href="../resources/css/base/_myVerein.base.css" rel="stylesheet" type="text/css" />
            <link th:href="@{/resources/css/login/_myVerein.login.css}" href="../resources/css/login/_myVerein.login.css" rel="stylesheet" type="text/css" />
        </th:block>
        <th:block th:unless="${application.developmentMode}">
            <link th:href="@{/resources/css/myVerein.min.css}" href="../resources/css/myVerein.init.min.css" rel="stylesheet" type="text/css" />
        </th:block>

    </head>
    <body>
        <div class="verticalCentered">

            <div class="container">
                <div th:if="${param.error != null}">
                    <div class="center-block alert alert-danger alertLogin" role="alert">Unable to log in, please check your credentials</div>
                </div>
                <div th:if="${param.logout != null}">
                    <div class="center-block alert alert-success alertLogin" role="alert">You successfully logged out</div>
                </div>
                <div th:if="${param.accessdenied != null}">
                    <div class="center-block alert alert-danger alertLogin" role="alert">Access denied, please log in first</div>
                </div>
            </div>

            <div class="loginContainer container">
                <form class="form-signin materialBox" action='/login_check' method='POST' accept-charset="UTF-8">
                    <h2 th:text="#{login.message}">Login with Username and Password</h2>
                    <label for="inputEmail" class="sr-only" th:text="#{login.email}">Email address</label>
                    <input name="username" type="email" id="inputEmail" th:placeholder="#{login.email}" class="form-control" placeholder="Email address" autofocus="autofocus"/>
                    <label for="inputPassword" class="sr-only" th:text="#{login.password}">Password</label>
                    <input name="password" type="password" id="inputPassword" class="form-control" th:placeholder="#{login.password}" placeholder="Password"/>
                    <div class="checkbox">
                        <label class="loginCheckbox">
                            <input type="checkbox" name="rememberMe"/>
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.button}">Sign in</button>
                </form>
            </div>
        </div>
    </body>
</html>